body {
    margin:0;
    padding:0;
}
.container {
    margin:0 auto;
    width:90%;
}
.blocksta {
    width:100%;
    height:500px;
    position:relative;
}

.block > div {
    background-color:blue;
}
.block span {
    font-size:70px;
}